{% extends "base.html" %}
{% load static %}
{% block nav %}
    {% if perms.webapp.add_project %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_project" %}">Создание проекта</a>
        </li>
    {% endif %}
    {#        {% if request.user.is_authenticated %}#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="{% url "webapp:create_project" %}">Создание задания</a>#}
    {#            </li>#}
    {#        {% endif %}#}
    <li class="nav-item">
        <a class="nav-link" href="{% url "webapp:index" %}">Все задания</a>
    </li>
{% endblock %}
{% block content %}
    {% include "partial/search.html" %}
    {% include "partial/articles_list_partial.html" %}
{% endblock %}