{% extends "base.html" %}
{% load static %}
{% block nav %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_project" %}">Создание задания</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "webapp:index" %}">Все задания</a>
    </li>
{% endblock %}
{% block content %}
    {% include "partial/search.html" %}
    <h1>Проекты</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ project.name }}</h3>
                        <h3>{{ project.description }}</h3>
                        <h5 class="card-title">{{ project.title }}</h5>
                        <a href="{% url "webapp:project_view" project.pk %}" class="card-link">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}