{% extends "base.html" %}
{% block nav %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_task" %}">Создание задачи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:update_project" projects.pk %}">Редактировать</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:delete_project" projects.pk %}">Удалить</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

    <p>
        {{ projects.name }}
    </p>
    <p>
        {{ projects.description }}
    </p>
    <p>
        {{ projects.created_at }}
    </p>
    <p>
        {{ projects.updated_at }}
    </p>
    <h3>Задачи</h3>
    {#    {% for project in projects %}#}
    {#        <p>{{ project.name }}</p>#}
    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ task.name }}</h3>
                        <h3>{{ task.description }}</h3>
                        <h5 class="card-title">{{ article.title }}</h5>
                        <a href="{% url "webapp:task_view" task.pk %}" class="card-link">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    </div>
    <a href="{% url "webapp:index_project" %}">На главную</a>
    <div class="modal fade" id="projectDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskDeleteModal">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите удалить проект? {{ projects.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url "webapp:delete_project" projects.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}