{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<h1>Create Task</h1>
<form action="/tasks/add" method="post">
    {% csrf_token %}
    <label>Status:</label><br>
    <select name="status">
        {% for status in statuses %}
            <option value="{{ status.0 }}">{{ status.1 }}</option>
            {{ status }}
        {% endfor %}
    </select>
    <label>Description:</label><br>
    <textarea name="description"></textarea><br>
    <label></label>


</form>
</body>
</html>