{% extends "base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_task" %}">Создание задания</a>
    </li>
{% endblock %}
{% block content %}
    {% include "partial/search.html" %}
    <h1>Задания</h1>
    <div class="row">
        {% for task in tasks %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ task.name }}</h3>
                        <h3>{{ task.status }}</h3>
                        <h5 class="card-title">{{ article.title }}</h5>
                        <a href="{% url "task_view" task.pk %}" class="card-link">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}