<h1>Проекты</h1>
<div class="row">
    {% for project in projects %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3>{{ project.name }}</h3>
                    <h3>{{ project.description }}</h3>
                    <h5 class="card-title">{{ project.title }}</h5>

                </div>
                {% if perms.webapp.view_project and user in project.users.all or perms.webapp.change_project %}
                    <a class="nav-link" href="{% url "webapp:project_view" project.pk %}">Подробнее</a>
                {% endif %}
                {% if perms.webapp.add_users_in_project and user in project.users.all %}
                    <a class="nav-link" href="{% url "webapp:change_users_in_project" project.pk %}">Редактировать
                        состав</a>
                {% endif %}
                {% for u in project.users.all %}
                    <span><a href="{% url "accounts:profile" u.pk %}">{{ u.username }}</a>,</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
</div>